efento_flow.json
[
    {
        "id": "dfb77f20966464d0",
        "type": "decode",
        "z": "1fe2b7c148e14405",
        "name": "ProtoConfig",
        "protofile": "7c162e491502f623",
        "protoType": "ProtoConfig",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "348aadcbdfd34f82"
            ]
        ]
    },
    {
        "id": "348aadcbdfd34f82",
        "type": "debug",
        "z": "1fe2b7c148e14405",
        "name": "debug 339",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "7a5803c9e7ef9714",
        "type": "coap in",
        "z": "1fe2b7c148e14405",
        "method": "POST",
        "name": "/t",
        "server": "bf7704077a5c8955",
        "url": "/t",
        "x": 210,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "bc0cfc33f0f3b8b9",
        "type": "coap in",
        "z": "1fe2b7c148e14405",
        "method": "POST",
        "name": "/c",
        "server": "bf7704077a5c8955",
        "url": "/c",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "6f12986fae3b3481",
                "dfb77f20966464d0"
            ]
        ]
    },
    {
        "id": "6f12986fae3b3481",
        "type": "function",
        "z": "1fe2b7c148e14405",
        "name": "currentTime",
        "func": "var time = Math.floor(Date.now()/1000)\nmsg.payload= \n{\n  \"currentTime\": time,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "2b93134b0138ea8c"
            ]
        ]
    },
    {
        "id": "2b93134b0138ea8c",
        "type": "encode",
        "z": "1fe2b7c148e14405",
        "name": "Encode Config",
        "protofile": "7c162e491502f623",
        "protoType": "ProtoConfig",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "44d1e01ddc48a646"
            ]
        ]
    },
    {
        "id": "44d1e01ddc48a646",
        "type": "coap response",
        "z": "1fe2b7c148e14405",
        "name": "Response",
        "statusCode": "2.01",
        "contentFormat": "text/plain",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "f7b9579a5acfe988",
        "type": "decode",
        "z": "1fe2b7c148e14405",
        "name": "ProtoMeasurments",
        "protofile": "8cba0f761649f646",
        "protoType": "ProtoMeasurements",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "ad8424e2c87e5fea"
            ]
        ]
    },
    {
        "id": "1b8943565ae07451",
        "type": "coap in",
        "z": "1fe2b7c148e14405",
        "method": "POST",
        "name": "/m",
        "server": "bf7704077a5c8955",
        "url": "/m",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "8ce7ef85ad0cd518",
                "f7b9579a5acfe988"
            ]
        ]
    },
    {
        "id": "70691b5a51234a3f",
        "type": "encode",
        "z": "1fe2b7c148e14405",
        "name": "Encode Config",
        "protofile": "7c162e491502f623",
        "protoType": "ProtoConfig",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "e16b056e1d1ef868"
            ]
        ]
    },
    {
        "id": "e16b056e1d1ef868",
        "type": "coap response",
        "z": "1fe2b7c148e14405",
        "name": "Response",
        "statusCode": "2.01",
        "contentFormat": "text/plain",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "8ce7ef85ad0cd518",
        "type": "function",
        "z": "1fe2b7c148e14405",
        "name": "currentTime",
        "func": "var time = Math.floor(Date.now()/1000)\nmsg.protobufType = \"ProtoConfig\"\nmsg.payload= \n{\n  \"currentTime\": time,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "70691b5a51234a3f"
            ]
        ]
    },
    {
        "id": "8e05087dd596bf7e",
        "type": "function",
        "z": "1fe2b7c148e14405",
        "name": "requestInfo",
        "func": "var time = Math.floor(Date.now()/1000)\nmsg.protobufType = \"ProtoConfig\"\nmsg.payload= \n{\n  \"currentTime\": time,\n  \"requestDeviceInfo\": true,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "70691b5a51234a3f"
            ]
        ]
    },
    {
        "id": "6f558b546e1a65fb",
        "type": "debug",
        "z": "1fe2b7c148e14405",
        "name": "debug 341",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc4f194f3ec8d3b9",
        "type": "decode",
        "z": "1fe2b7c148e14405",
        "name": "ProtoDeviceInfo",
        "protofile": "60f62a2343921943",
        "protoType": "ProtoDeviceInfo",
        "x": 560,
        "y": 580,
        "wires": [
            [
                "36f626b67ea93050"
            ]
        ]
    },
    {
        "id": "8212501b55e47694",
        "type": "coap in",
        "z": "1fe2b7c148e14405",
        "method": "POST",
        "name": "/i",
        "server": "bf7704077a5c8955",
        "url": "/i",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "09a9b9f19956179f",
                "bc4f194f3ec8d3b9"
            ]
        ]
    },
    {
        "id": "ad8424e2c87e5fea",
        "type": "function",
        "z": "1fe2b7c148e14405",
        "name": "Efento",
        "func": "var value\nvar metadata\nvar start_point\nvar channelNumber\nvar measurement_record = [];\nvar channels_record = [];\nvar changeAt = []\nvar measurementPeriod = msg.payload.measurement_period_base * msg.payload.measurement_period_factor;\nvar transfer_reason = msg.payload.transfer_reason\nvar channelNumberForAcc = 0\n\n\nfor (var param of msg.payload.channels) {\n    if (Object.keys(param).length) {\n        if (param.type === 'MEASUREMENT_TYPE_OK_ALARM') {\n            var numberOfMeasurements = (1 + (Math.abs(param.sample_offsets[param.sample_offsets.length - 1]) - 1) / measurementPeriod);\n            for (let sampleOffset of param.sample_offsets) {\n                let timeDifference = measurementPeriod * parseInt(Math.floor(Math.abs(sampleOffset - 1) / measurementPeriod));\n                if (sampleOffset > 0) {\n                    changeAt.push(String(param.timestamp + timeDifference), \"1\");\n                    value = \"1\"\n                } else if (sampleOffset < 1) {\n                    changeAt.push(String(param.timestamp + timeDifference), \"0\")\n                    value = \"0\"\n                }\n            }\n            for (let measurementNumber = 0; measurementNumber < numberOfMeasurements; measurementNumber++) {\n                let timeDifference = measurementPeriod * measurementNumber;\n                let measurementtime = String(param.timestamp + timeDifference)\n                if (changeAt.includes(measurementtime)) {\n                    value = changeAt[changeAt.indexOf(measurementtime) + 1];\n                }\n                measurement_record.push(\n                    {\n                        measured_at: param.timestamp + timeDifference,\n                        serial_number: Buffer.from(msg.payload.serial_num, 'base64').toString('hex').toUpperCase(),\n                        battery_ok: msg.payload.battery_status,\n                        type: param.type.replace(\"MEASUREMENT_TYPE_\", \"\"),\n                        value\n                    }\n                );\n            }\n        }\n        else if (['MEASUREMENT_TYPE_PULSE_CNT_ACC_MAJOR', 'MEASUREMENT_TYPE_WATER_METER_ACC_MAJOR', 'MEASUREMENT_TYPE_ELEC_METER_ACC_MAJOR'].indexOf(param.type) >= 0) {\n            var majorValues = []\n            var calibrationRequired = []\n            for (let index = 0; index < param.sample_offsets.length; index++) {\n                if ([\"MEASUREMENT_TYPE_PULSE_CNT_ACC_MAJOR\", \"MEASUREMENT_TYPE_WATER_METER_ACC_MAJOR\"].indexOf(param.type) >= 0) {\n                    if (typeof param.start_point === 'undefined') {\n                        start_point = 0\n                    }\n                    else {\n                        start_point = param.start_point\n                    }\n                    metadata = ((start_point + param.sample_offsets[index]) % 4)\n                    value = Math.floor(((start_point - metadata + param.sample_offsets[index]) / 4) * 1000)\n                }\n                else {\n                    metadata = ((start_point + param.sample_offsets[index]) % 4)\n                    value = Math.floor(((start_point - metadata + param.sample_offsets[index]) / 4) * 100)\n\n                }\n                if (metadata != 0) {\n                    calibrationRequired.push(true)\n                }\n                else {\n                    calibrationRequired.push(false)\n                }\n                majorValues.push(value)\n            }\n        }\n\n        else if ([\"MEASUREMENT_TYPE_PULSE_CNT_ACC_MINOR\", \"MEASUREMENT_TYPE_WATER_METER_ACC_MINOR\", \"MEASUREMENT_TYPE_ELEC_METER_ACC_MINOR\"].indexOf(param.type) >= 0) {\n            channelNumberForAcc = channelNumberForAcc + 1\n\n            for (let index = 0; index < param.sample_offsets.length; index++) {\n\n                if (typeof param.start_point === 'undefined') {\n                    start_point = 0\n                }\n                else {\n                    start_point = param.start_point\n                }\n\n                if (calibrationRequired[index]) {\n\n                    value = (majorValues[index] + Math.floor(\n                        //dividing by 1000 to get mills of rain\n                        (start_point + param.sample_offsets[index]) / 6)) / 1000\n                    var calibration = true\n                }\n                else {\n                    //dividing by 1000 to get mills of rain\n                    value = (majorValues[index] + (start_point + param.sample_offsets[index]) / 6) / 1000\n\n                }\n                var timeDifference = measurementPeriod * index\n                var measured_at = param.timestamp + timeDifference\n                var type = param.type.replace(\"MEASUREMENT_TYPE_\", \"\").replace(\"_MINOR\", \"\") + \"_\" + channelNumberForAcc\n                channels_record.push(\n                    {\n                        measured_at,\n                        serial_number: Buffer.from(msg.payload.serial_num, 'base64').toString('hex').toUpperCase(),\n                        battery_ok: msg.payload.battery_status,\n                        transfer_reason,\n                        metadata,\n                        type,\n                        value,\n                    }\n                );   \n            }\n        }\n        else if ([\"MEASUREMENT_TYPE_VOLTAGE\", \"MEASUREMENT_TYPE_CURRENT\"].indexOf(param.type) >= 0) {\n            channelNumberForAcc = channelNumberForAcc + 1\n            for (let index = 0; index < param.sample_offsets.length; index++) {\n                if (typeof param.start_point === 'undefined') {\n                    start_point = 0\n                }\n                else {\n                    start_point = param.start_point\n                }\n                value = start_point + param.sample_offsets[index];\n                \n                var timeDifference = measurementPeriod * index\n                var measured_at = param.timestamp + timeDifference\n                var type = param.type.replace(\"MEASUREMENT_TYPE_\", \"\") + \"_\" + channelNumberForAcc\n\n                channels_record.push(\n                    {\n                        measured_at,\n                        serial_number: Buffer.from(msg.payload.serial_num, 'base64').toString('hex').toUpperCase(),\n                        battery_ok: msg.payload.battery_status,\n                        transfer_reason,\n                        type,\n                        value,\n                    }\n                );\n            }\n        }\n        else {\n            for (let index = 0; index < param.sample_offsets.length; index++) {\n                if (typeof param.start_point === 'undefined') {\n                    start_point = 0\n                }\n                else {\n                    start_point = param.start_point\n                }\n                if ([\"MEASUREMENT_TYPE_TEMPERATURE\", \"MEASUREMENT_TYPE_ATMOSPHERIC_PRESSURE\"].indexOf(param.type) >= 0) {\n                    value = (start_point + param.sample_offsets[index]) / 10;\n                }\n                else {\n                    value = start_point + param.sample_offsets[index];\n                }\n                const timeDifference = measurementPeriod * index\n                measurement_record.push(\n                    {\n                        measured_at: param.timestamp + timeDifference,\n                        serial_number: Buffer.from(msg.payload.serial_num, 'base64').toString('hex').toUpperCase(),\n                        battery_ok: msg.payload.battery_status,\n                        transfer_reason,\n                        type: param.type.replace(\"MEASUREMENT_TYPE_\", \"\"),\n                        value,\n                    }\n                );\n            }\n        }\n    }\n}\n\nlet channels_records = channels_record.reduce((acc, elem) => {\n    acc[elem.type] = (acc[elem.type] || []).concat([elem])\n    // (acc[elem.measured_at] ??= []).push(elem);\n    // following may be used instead of the above line\n    // acc[elem.date] = (acc[elem.date] || []).concat([elem])\n    return acc;\n}, {});\n\nif (Object.keys(channels_records).length) {\n    var pulse_payload = {\n        payload: channels_records\n    }\n}\nif (Object.keys(measurement_record).length) {\n    var mearurement_payload = {\n        payload: measurement_record\n    }\n}\n\nreturn [pulse_payload, mearurement_payload];\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 240,
        "wires": [
            [
                "6f558b546e1a65fb"
            ],
            [
                "a99daa9149efba01"
            ]
        ],
        "outputLabels": [
            "Channels",
            "Measurements"
        ],
        "icon": "node-red/batch.svg"
    },
    {
        "id": "09a9b9f19956179f",
        "type": "switch",
        "z": "1fe2b7c148e14405",
        "name": "Confirmable",
        "property": "req._packet.confirmable",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "7743b1f303f96bd8"
            ]
        ]
    },
    {
        "id": "7743b1f303f96bd8",
        "type": "function",
        "z": "1fe2b7c148e14405",
        "name": "currentTime",
        "func": "var time = Math.floor(Date.now()/1000)\nmsg.payload= \n{\n  \"currentTime\": time,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 640,
        "wires": [
            [
                "b0a852933f64f5c3"
            ]
        ]
    },
    {
        "id": "b0a852933f64f5c3",
        "type": "encode",
        "z": "1fe2b7c148e14405",
        "name": "Encode Config",
        "protofile": "7c162e491502f623",
        "protoType": "ProtoConfig",
        "x": 720,
        "y": 640,
        "wires": [
            [
                "81f36e51f3315496"
            ]
        ]
    },
    {
        "id": "81f36e51f3315496",
        "type": "coap response",
        "z": "1fe2b7c148e14405",
        "name": "Response",
        "statusCode": "2.01",
        "contentFormat": "text/plain",
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "a99daa9149efba01",
        "type": "debug",
        "z": "1fe2b7c148e14405",
        "name": "debug 342",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "36f626b67ea93050",
        "type": "debug",
        "z": "1fe2b7c148e14405",
        "name": "debug 345",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "7c162e491502f623",
        "type": "protobuf-file",
        "protopath": "D:\\NodeRed\\proto\\proto_config.proto",
        "watchFile": false,
        "keepCase": false
    },
    {
        "id": "bf7704077a5c8955",
        "type": "coap-server",
        "name": "CoAP",
        "port": "5683",
        "ipv6": false
    },
    {
        "id": "8cba0f761649f646",
        "type": "protobuf-file",
        "protopath": "D:\\NodeRed\\proto\\proto_measurements.proto",
        "watchFile": false,
        "keepCase": true
    },
    {
        "id": "60f62a2343921943",
        "type": "protobuf-file",
        "protopath": "D:\\NodeRed\\proto\\proto_device_info.proto",
        "watchFile": false,
        "keepCase": false
    }
]
